html{
    scroll-behavior: smooth;
    cursor: default;
}
h5{
    color: white;
    font-size: x-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.body{
    background-color: grey;
}
.card-text {
    color: white;
    font-style: italic;
}
.card-text1 {
    color: black;
    font-style: italic;
}

.btn{
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn:hover{
    background-color: orangered;
    transition: 300ms;
}
.card-img-top{
    aspect-ratio: 1/1;
    transition: all 600ms ease-in-out;
}
.card-img-top:hover{
    transform: scale(1.05);
}
.card-img-top:focus,
.card-img-top:active{
    transform: scale(1.05);
}
.nama{
    text-align: center;
    color: grey;
    margin-top: -30px;
}
.container1{
    
    max-width: 800px;
    justify-content: center;
    padding: 5px;
}
.container{
    
    max-width: 90%;
}
